@{
    ViewData["Title"] = "Ece's Dynamic Configurator Page (First Service)";
}

<div class="text-center">
    <h2 class="display-4">Ece's Dynamic Configurator (First Service)</h2>
    <p>siteName @ViewBag.siteName</p>
    <p>maxItemCount @ViewBag.maxItemCount</p>
    <p>isBasketEnabled @ViewBag.isBasketEnabled</p>
</div>
